---
const { temteImg } = Astro.props
---

<section id="about-me" class="flex min-h-screen">
  <div class="mx-6 my-12 flex min-h-full flex-col lg:flex-row lg:gap-12">
    <img
      src={temteImg.src}
      alt="Temte"
      class="h-full w-full object-cover object-top"
    />
    <div
      class="flex flex-col items-center justify-center gap-4 px-4 pt-4 pb-8 text-left lg:items-start lg:pr-4 lg:pb-4 lg:pl-8"
    >
      <h2 class="self-center text-4xl font-bold [word-spacing:-0.01em]">
        Hi, I'm <span class="text-gold">Temte</span>
      </h2>
      <p class="max-w-[72ch] leading-tight tracking-tight lg:max-w-none">
        I specialize in fades, beard work, and detailed design cuts. I also
        offer hot lather straight razor services, along with hot wax and
        skincare treatments to elevate your experience.
        <br /><br />
        My goal is simple: to give you a great conversation and a meticulously detailed
        haircut that brings a new level of confidence. A cut that looks sharp today
        — and stays easy to style and manage for 2–4 weeks after.
      </p>
    </div>
  </div>
</section>
