---
import SocialIcons from './SocialIcons.astro'
---

<footer class="flex flex-col items-center p-8 gap-4">
  <div class="flex gap-6">
    <SocialIcons size={28} />
  </div>
  <p class="font-inter text-xs font-light mb-8">&copy; 2026 TEMTE's Fades & Shaves</p>
</footer>
