---

---

<header class="flex justify-center p-4">
			<a href="/" class="brand">
				<span class="text-2xl font-bold">TEMTE's</span>
				<span class="text-sm font-light tracking-tighter">Fades & Shaves</span>
			</a>
			<!-- Waffle Menu
			<nav>
				<button class="waffle-menu" aria-label="Open menu" aria-expanded="false">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</button>
				<ul class="nav-links">
					<li><a href="#about">About</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#location">Location</a></li>
				</ul>
			</nav>
			-->

</header>